<h1>Pick 4</h1>
<% @pick4 = pick4 %>


<table>
  <% @pick4.each do |pool, total| %>
    <tr>
      <td>Draws: <%= total %></td>
      <% pool.each do |key, value| %>
        <td><h4><strong><%= key %></strong><small><%= value %></small></h4></td>
      <% end %>
    </tr>
  <%end%>
<table>