<h1>Pick 4</h1>
<% @pick4 = pick4 %>


<table class="table table-condensed">
  <% @pick4.each do |pool, total| %>
    <tr>
      <td><h3>Draws: <%= total %></h3></td>
      <% pool.each do |key, value| %>
        <td><h3><strong><%= key %></strong></h3></td>
      <% end %>
    </tr>
  <% end %>
</table>