<% @picks = ppicks %>
<% i=0 %>

<h1> powerball picks </h1>
<table class="table table-condensed">
  <% @picks.each do |pick| %>
    <tr>
      <td><h3><%= row_heads[i] %></h3></td>
      <% pick.each do |key, value| %>
        <td><h3><%= key %>: <small><%= value %></small></h3></td>
      <% end %>
      <% i+=1 %>
    </tr>
  <% end %>
</table>