<ul>
  <li><%= link_to 'match6', root_path %></li>
  <li><%= link_to 'powerball', powerball_path %></li>
  <li><%= link_to 'Pick 4', pick4_path %></li>
  <li><%= link_to 'pick 5', pick5_path %></li>
</ul>